* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: "Binance Plex", -apple-system, BlinkMacSystemFont, Arial,
		"Helvetica Neue", sans-serif;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

:root {
	--red: #f80000;
	--black: #0b0e11;
	--white: #ffffff;
	--border: #dddfe248;
	--dark: #202020;
	--gray: rgb(118, 128, 143);
}

.body {
	margin: 0;
	padding: 0;
}

.container {
	width: 85%;
	margin: auto;
}

/* nav */
.nav {
	background-color: var(--black);
}

.nav .info {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--dark);
	border: .8px solid var(--border);
}

.nav .links {
	width: 100%;
	height: 38px;
	background-color: var(--dark);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.nav .links a {
	text-decoration: none;
	color: var(--white);
	text-transform: uppercase;
}

/* nav */
/* cards */
.container-cards {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.card {
	background: var(--border);
	margin: 12px;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	width: 80%;
	box-shadow: 2px 2px 5px var(--gray);
}

.card:hover {
	box-shadow: 5px 5px 20px var(--gray);
	transition: 100ms;
	transform: translateY(-1%);
}

.card__img {
	width: 100%;
	height: 70%;
	border-radius: 20px;
}

.card__img-comics {
	height: 75%;
}

.card__paragraph {
	color: var(--black);
	font-weight: 600;
	font-size: 3.5vh;
	text-align: center;
	margin-top: 3.5vh;
}

.card__paragraph-comics {
	font-size: 2.7vh;
}

/* cards */
/* footer */
.footer {
	width: 100%;
	height: 70vh;
	background: var(--black);
	margin-top: 80px;
}

.footer__container {
	display: grid;
	grid-template-columns: 30% 45% auto;
	padding-top: 56px;
}

.footer__container div:nth-child(1) div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer__container .footer__links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.footer__link {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__link .footer__subtitle {
	color: var(--white);
	font-size: 3.5vh;
	font-weight: bold;
	text-align: center;
}

.footer__link a {
	text-decoration: none;
	color: rgb(212, 213, 216);
	font-size: 2.8vh;
	margin-bottom: 17px;
	display: flex;
	text-align: center;
}

.footer__logo {
	width: 220px;
	color: var(--orange);
	height: 250px;
}

.footer__copyright {
	color: var(--white);
	font-size: 12px;
	color: rgb(212, 213, 216);
	/* text-align: center; */
}

.footer__appstore {
	width: 40%;
	height: 20vh;
	display: none;
}

.footer__playstore {
	width: 40%;
	height: 10vh;
	display: none;
}

.footer__icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__icon {
	width: 20px;
	color: rgb(139, 141, 145);
	padding-left: 20px;
}

/* footer */
/* responsive */
@media (max-width: 900px) {
	.card__paragraph {
		margin-top: 10px;
	}
}

@media (max-width: 800px) {
	.container-cards {
		grid-template-columns: 1fr 1fr;
	}
	.card__paragraph-comics {
		font-size: 3vh;
	}
	.footer__logo {
		height: 160px;
	}
}

@media (max-width: 600px) {
	.card__paragraph {
		font-size: 3vh;
	}
	.card__paragraph-comics {
		font-size: 2.5vh;
	}
	.footer__icons {
		display: none;
	}
	.footer__container {
		grid-template-columns: 1fr;
	}
	.footer__logo {
		display: none;
	}
	.footer__copyright {
		display: none;
	}
	.footer__link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 400px) {
	.footer {
		height: 40vh;
	}
	.container {
		width: 85%;
	}
	.card {
		height: 250px;
	}
	.card__paragraph {
		font-size: 1.5vh;
	}
	.footer__link a {
		font-size: 14px;
	}
}
/* responsive */